In [1]:
import pandas as pd 
import numpy as np

Creación de datafreames utilizando diccionario de series

In [2]:
d = {'col1': pd.Series([1., 2., 3., 4.]),
     'col2': pd.Series([4., 3., 2., 1.])}
df = pd.DataFrame(d)
df

   col1  col2
0   1.0   4.0
1   2.0   3.0
2   3.0   2.0
3   4.0   1.0

Utilizando diccionario de valores

In [3]:
d = {'col1': [1., 2., 3., 4.],
     'col2': [4., 3., 2., 1.]}

df = pd.DataFrame(d, index = ['a','b','c','e'])
df

   col1  col2
a   1.0   4.0
b   2.0   3.0
c   3.0   2.0
e   4.0   1.0

Utilizando una lista de diccionarios

In [4]:
l = [{'col1': 1, 'col2' : 4}, {'col1': 2, 'col2' : 3},  
     {'col1': 3, 'col2' : 2}, {'col1': 4, 'col2' : 1, 'col3' : 3}]

df = pd.DataFrame(l, index = ['a','b','c','e'])
df

   col1  col2  col3
a     1     4   NaN
b     2     3   NaN
c     3     2   NaN
e     4     1   3.0

Recolectamos información

In [5]:
df['col2']
#Columnas

a    4
b    3
c    2
e    1
Name: col2, dtype: int64

In [6]:
type(df['col2'])
#Tipo de columna

pandas.core.series.Series

Añadimos una columna a partir de otra

In [7]:
df['col4'] = df['col1'] + df['col2']
df

   col1  col2  col3  col4
a     1     4   NaN     5
b     2     3   NaN     5
c     3     2   NaN     5
e     4     1   3.0     5

Eliminamos columna

In [8]:
del df['col3']
df

   col1  col2  col4
a     1     4     5
b     2     3     5
c     3     2     5
e     4     1     5

Insertamos columna

In [9]:
df.insert(0,'col0',df['col4']+df['col2'])
df

   col0  col1  col2  col4
a     9     1     4     5
b     8     2     3     5
c     7     3     2     5
e     6     4     1     5

In [10]:
df = df.assign(col3=3)
df

   col0  col1  col2  col4  col3
a     9     1     4     5     3
b     8     2     3     5     3
c     7     3     2     5     3
e     6     4     1     5     3