In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path 
data_path = Path('data')

In [2]:
dataset = pd.read_csv(data_path / 'dataset.csv', sep=',')
dataset.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No