In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path 
data_path = Path('data')
data = pd.read_csv(data_path / 'house.csv')

In [2]:
_ = data.sample(frac = 0.05)
data['price'] = pd.Series([np.nan if i in _.index.values else v for i,v in zip(np.arange(len(data)), data['price'])])
_ = data.sample(frac = 0.05)
data['bedrooms'] = pd.Series([np.nan if i in _.index.values else v for i,v in zip(np.arange(len(data)), data['bedrooms'])])

In [3]:
data.isna().sum()

date               0
price            230
bedrooms         230
bathrooms          0
sqft_living        0
sqft_lot           0
floors             0
waterfront         0
view               0
condition          0
sqft_above         0
sqft_basement      0
yr_built           0
yr_renovated       0
street             0
city               0
statezip           0
country            0
dtype: int64

In [4]:
data['bedrooms'].value_counts(dropna = False)

bedrooms
3.0    1940
4.0    1448
2.0     534
5.0     334
NaN     230
6.0      61
1.0      34
7.0      14
8.0       2
0.0       2
9.0       1
Name: count, dtype: int64

con notna() podemos filtrar los valores missing

In [5]:

data['price']

0       313000.000000
1                 NaN
2       342000.000000
3       420000.000000
4       550000.000000
            ...
4595    308166.666667
4596    534333.333333
4597    416904.166667
4598    203400.000000
4599    220600.000000
Name: price, Length: 4600, dtype: float64

In [6]:

data[data['price'].notna()]['price']

0       313000.000000
2       342000.000000
3       420000.000000
4       550000.000000
5       490000.000000
            ...
4595    308166.666667
4596    534333.333333
4597    416904.166667
4598    203400.000000
4599    220600.000000
Name: price, Length: 4370, dtype: float64


Otra opci√≥n es con la funcion query, y aprovechando que nan == nan = False

In [7]:

np.nan == np.nan

False

In [8]:
data.query('bedrooms == bedrooms').shape

(4370, 18)

Calculos en columnas con datos missings

In [10]:
data['bedrooms'].mean(skipna = True)

3.4034324942791763

In [11]:

data['bedrooms'].mean(skipna = False)

nan

In [12]:

data['bedrooms'].min(skipna = True)

0.0

In [13]:

data['bedrooms'].min(skipna = False)

nan

Fillna para rellenar los valores missings

In [15]:
_ = data['bedrooms'].fillna(value = -1)
_

0       3.0
1       5.0
2       3.0
3      -1.0
4       4.0
       ...
4595    3.0
4596    3.0
4597    3.0
4598    4.0
4599    3.0
Name: bedrooms, Length: 4600, dtype: float64

In [16]:
pd.Series(_).value_counts()

bedrooms
 3.0    1940
 4.0    1448
 2.0     534
 5.0     334
-1.0     230
 6.0      61
 1.0      34
 7.0      14
 8.0       2
 0.0       2
 9.0       1
Name: count, dtype: int64

dropna()

Es posible que queramos simplemente excluir aquellas columnas o filas que tengan algun NaN. Para hacer esto, use dropna ():

In [17]:

# axis = 'index' elimina todas las filas con algun nan
data.dropna(axis = 'index', how = 'any').shape

(4151, 18)

In [18]:
# axis = 'columns' elimina todas las columnas con algun nan
data.dropna(axis = 'columns', how = 'any').shape

(4600, 16)